body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

h1 {
   font-family: "Courier", monospace;
}

p {
  font-family: "Courier", monospace;
}

button {
  font-family: "Courier", monospace;
}

#backgroundDiv {
  overflow: hidden;
  position: absolute;
  width: 100vw;
  height: 100vh;
  /*z-index: 50;*/
}


#backgroundDiv.planebgColor{
   background: linear-gradient(165deg, rgba(209,102,48,1) 0%, rgba(255,234,99,1) 100%);
}

#backgroundDiv.shipbgColor{
   background: linear-gradient(165deg, rgba(33,40,112,1) 0%, rgba(83,172,204,1) 68%, rgba(165,226,230,1) 100%);
}

#backgroundDiv.ufobgColor{
   background: radial-gradient(circle, rgba(109,41,117,1) 0%, rgba(13,23,31,1) 100%);
}

input {
   margin-bottom: 13px;
   border-radius: 10px;
}

.messageButtonHolder {
   margin: 0px 5px 5px 5px;
}

#submitInputButton {
   border-radius: 7px;
   background-color: hsl(0deg 0% 95%);
}

#submitInputButton:hover {
   background-color: hsl(0deg 0% 80%);
}

.swapMessages {
   border-radius: 7px;
   background-color: hsl(0deg 0% 95%);
}

#.swapMessages:hover {
   background-color: hsl(0deg 0% 80%);
}

.noDisplay{
   display:none;
}

.submitConfirmationDisplayFlex{
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   text-align:center;
}

#submitConfirmation {
   width: 100px;
   height: 40px;
   background-color: red;
   border-style: solid;
   border-color: black;
   border-radius: 5px;
   border-width: 3px;
   background-color: hsl(180deg, 23.1%, 92.4%);
   border-color: hsl(180deg, 15.0%, 50%);
}

.inputBox{
  z-index: 80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f4f7;
  /*width : 50vw;
  height: 50vh;*/
  width: 425px;
  height: 425px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-style: solid;
  border-width: 15px;
  border-left-color: #750d10;
  border-right-color: #1d1652;
  border-top-color: #750d10;
  border-bottom-color: #1d1652;
  box-sizing: border-box;
  box-shadow: 8px 5px 20px #b3508d, -8px -5px 20px #a5e2e6;
  border-radius: 300px;

}

.themeButtonHolder {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 300px;
   margin: 7px 0;
}

.themeButton {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   width: 100px;
   height: 30px;
   border-style: solid;
   border-color: black;
   border-radius: 5px;
   border-width: 3px;
   background-color: #d0dde4;
   border-color: #7a95a7;
}

.themeButton:hover{
   background-color: hsl(180deg, 23.1%, 80%);
}

.planeThemeButton.selected {
   background-color: #edac4a;
   border-color: rgba(209,102,48,1);
}

.shipThemeButton.selected {
   background-color: #74ceda;
   border-color: rgba(57,115,173,1);
}

.ufoThemeButton.selected {
   background-color: #943989;
   border-color: rgba(63,26,77,1);
}


.planeThemeButton.selected:hover {
   background-color: #f5cb53;
}

.shipThemeButton.selected:hover {
   background-color: #a5e2e6;
}

.ufoThemeButton.selected:hover {
   background-color: #b3508d;
}

.planeThemeButton {
  background-image: url(../img/skybutton.png);
  background-size: 100%
}

.shipThemeButton {
  background-image: url(../img/seabutton.png);
  background-size: 100%

}

.ufoThemeButton {
  background-image: url(../img/spacebutton.png);
  background-size: 100%
}

.planebox{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: absolute;
  /*animation-duration: 10s;
  animation-name: slidein;
  animation-iteration-count: infinite;*/
  /*margin-bottom: 31vh;
  margin-top: 1vh;*/
}

.plane{
  flex-shrink: 0;
  width: 300px;
  height: 100px;
}


.planebg {
   background-image: url(../img/plane2.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
}

.shipbg {
   background-image: url(../img/ship.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: right;
}

.ufobg {
   background-image: url(../img/ufo2.png);
   background-repeat: no-repeat;
   background-position: center left;
   background-size: 95%;
}

.ufospecialbg{
   background-image: url(../img/ufo.png);
}


.message {
  flex-shrink: 0;
  //min-width: 200px;
  height: 70px;
  background-color: rgba(238,195,154,255);
  border-color: purple;
  border-style: solid;
  border-width: 15px;
  border-image-source: url(../img/banner.png);
  border-image-slice: 15;
  border-image-repeat: round;
  border-image-outset: 3px;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.outside-browser {
  overflow: hidden;
  width: 400vw;
  height: 300px;
}

.popupButtonHolder{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-top: 15px;
   width: 140px;
}

.missionDivButton, .teamDivButton {
   width: 60px;
   height: 60px;
   box-sizing: border-box;
   border-style: outset;
   border-width: 3px;
   background-color: hsl(0deg 0% 95%);
   background-repeat:no-repeat;
   background-size:contain;
}

.missionDivButton:hover, .teamDivButton:hover{
   background-color: hsl(0deg 0% 90%);
   filter: hue-rotate(-12deg);
}

.missionDivButton {
   background-image: url(../img/questionbutton.png);
}

.teamDivButton{
   background-image: url(../img/picturebutton.png);
}

.popupButtonSelected{
   background-color: hsl(0deg 0% 80%);
   border-style: inset;
}

.missionDivButton.popupButtonSelected:hover, .teamDivButton.popupButtonSelected:hover{
   background-color: hsl(0deg 0% 75%);
}


.missionPopup{
   z-index: 100;
   position: absolute;
   margin:auto;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   width: 60vw;
   height: 60vh;
   background-color: pink;
   display:none;
}

.teamPopup{
   display:none;
   margin:auto;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   z-index: 90;
   position: absolute;
   width: 60vw;
   height: 60vh;
   background-color: green;
}

.teamImgTag{
  width: inherit;
  max-width: 500px;
}

.closePopup{
   width:inherit;
}

.lowZIndex{
   z-index: -3;
}
